<h1>Edit Month <small>- update content</small></h1>

<%= form_for @month, :url =>{:action => "update", :id => @month} do |month|%>
<p>Month Name: <%= month.text_field 'name' %></p>
<p>Result: <%= month.text_area 'result' %></p>
<%= month.submit "Save changes" %>
<% end -%>
<br>
<%= link_to 'Back', months_path %>
