<h1>
  <%= link_to 'New Month', new_month_path, class: 'btn btn-primary' %>
  <b>Months</b>
</h1>
<% if @months.blank? %>
  <h1><small>Currently there are no records</small></h1>
<% else %>
  <h1><small>list of all tracked month</small></h1>
  <table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Month Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @months.each do |month| %>
      <tr>
        <td>
        </td>
        <td>
          <%= month.name %>
        </td>
        <td>
          <%= month.result %>
        </td>
        <td>
          <%= link_to 'Edit', edit_month_path(month), class: 'btn btn-primary btn-mini' %>
        </td>
      </tr>
  <% end %>
  </tbody>
  </table>
  <!-- Get distinct months from database -->
  <table class='table'>
    <thead>
      <tr>
      <th></th>
        <th>Active Months</th>
        <th>Sum of all expenses</th>
      </tr>
    </thead>
    <% @disp_months.each do |key, value| %>
      <tr>
      <td></td>
        <td>
          <%= key %>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
