<h1>Add a new expense</h1>

<%= form_tag :action => 'create' do %>
<p><label for="expense">Expense Name</label>:
<%= text_field 'expenses', 'name' %></p>
<p><label for="amount">Expense Amount</label>:
<%= text_field 'expenses', 'weight' %></p>
<p><label for="month">Month</label>:
<%= text_field 'expenses', 'month' %></p>
<%= submit_tag "Add" %>
<% end -%>
<br>
<%= link_to 'Back', expenses_path %>
<form action="/expense/create" method="post">
